#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.delete{
  border: 1px solid black;
  padding: 5px;
}
.update{
  margin-left:5px;
  border: 1px solid black;
  padding: 5px;
}